################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/obj/x64/Debug/net10.0-windows/AdvancedDataGridView.AssemblyInfoInputs.cache
