bin/AnyCPU/Debug/net10.0-windows/AdvancedDataGridView.deps.json
bin/AnyCPU/Debug/net10.0-windows/AdvancedDataGridView.dll
bin/AnyCPU/Debug/net10.0-windows/AdvancedDataGridView.pdb
bin/Release/net10.0-windows/AdvancedDataGridView.deps.json
bin/Release/net10.0-windows/AdvancedDataGridView.dll
bin/Release/net10.0-windows/AdvancedDataGridView.pdb
obj/AdvancedDataGridView.csproj.nuget.dgspec.json
obj/AdvancedDataGridView.csproj.nuget.g.props
obj/AdvancedDataGridView.csproj.nuget.g.targets
obj/Debug/net10.0-windows/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
obj/Debug/net10.0-windows/AdvancedDataGridView.AssemblyInfo.cs
obj/Debug/net10.0-windows/AdvancedDataGridView.AssemblyInfoInputs.cache
obj/Debug/net10.0-windows/AdvancedDataGridView.assets.cache
obj/Debug/net10.0-windows/AdvancedDataGridView.csproj.BuildWithSkipAnalyzers
obj/Debug/net10.0-windows/AdvancedDataGridView.csproj.CoreCompileInputs.cache
obj/Debug/net10.0-windows/AdvancedDataGridView.csproj.FileListAbsolute.txt
obj/Debug/net10.0-windows/AdvancedDataGridView.csproj.GenerateResource.cache
obj/Debug/net10.0-windows/AdvancedDataGridView.dll
obj/Debug/net10.0-windows/AdvancedDataGridView.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net10.0-windows/AdvancedDataGridView.pdb
obj/Debug/net10.0-windows/AdvancedDataGridView.sourcelink.json
obj/Debug/net10.0-windows/ref/AdvancedDataGridView.dll
obj/Debug/net10.0-windows/refint/AdvancedDataGridView.dll
obj/Debug/net10.0-windows/Zuby.ADGV.AdvancedDataGridViewSearchToolBar.resources
obj/Debug/net10.0-windows/Zuby.ADGV.FormCustomFilter.resources
obj/Debug/net10.0-windows/Zuby.Properties.Resources.resources
obj/project.assets.json
obj/project.nuget.cache
obj/Release/net10.0-windows/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
obj/Release/net10.0-windows/AdvancedDataGridView.AssemblyInfo.cs
obj/Release/net10.0-windows/AdvancedDataGridView.AssemblyInfoInputs.cache
obj/Release/net10.0-windows/AdvancedDataGridView.assets.cache
obj/Release/net10.0-windows/AdvancedDataGridView.csproj.BuildWithSkipAnalyzers
obj/Release/net10.0-windows/AdvancedDataGridView.csproj.CoreCompileInputs.cache
obj/Release/net10.0-windows/AdvancedDataGridView.csproj.FileListAbsolute.txt
obj/Release/net10.0-windows/AdvancedDataGridView.csproj.GenerateResource.cache
obj/Release/net10.0-windows/AdvancedDataGridView.dll
obj/Release/net10.0-windows/AdvancedDataGridView.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net10.0-windows/AdvancedDataGridView.pdb
obj/Release/net10.0-windows/AdvancedDataGridView.sourcelink.json
obj/Release/net10.0-windows/ref/AdvancedDataGridView.dll
obj/Release/net10.0-windows/refint/AdvancedDataGridView.dll
obj/Release/net10.0-windows/Zuby.ADGV.AdvancedDataGridViewSearchToolBar.resources
obj/Release/net10.0-windows/Zuby.ADGV.FormCustomFilter.resources
obj/Release/net10.0-windows/Zuby.Properties.Resources.resources
